<!DOCTYPE html>
<html>
<head>
	<title>Car Details</title>
</head>
<body>
	<header>
		<h1>Car Details</h1>
	</header>
	<main>
		<div class="details-container">
            <h2><%= car.manufacturer %> <%= car.model %></h2>
            <p>Horsepower: <%= car.horsepower %></p>
            <p>Trim Model: <%= car.trimModel %></p>
			
			<a href="/">Back to Home</a>
		</div>
	</main>
</body>
</html>
