<!DOCTYPE html>
<html>
<head>
	
	
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
	<script src="https://unpkg.com/react-bootstrap@2.0.0/dist/react-bootstrap.min.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
	<title>Car Details</title>
</head>
<body>
	<header>
		<h1>Car Details</h1>
	</header>
	<main>
		<script src="details.js"></script>
		<div class="details-container">
            <h2><%= car.manufacturer %> <%= car.model %></h2>
            <p>Horsepower: <%= car.horsepower %></p>
            <p>Trim Model: <%= car.trimModel %></p>
			
			<a href="/">Back to Home</a>
		</div>
	</main>

</body>
</html>
