<html>
    <Body>
        <h1>Cars I like</h1>
        <ul>
          <% items.forEach(car => { %>
            <li><a href="/detail?manufacturer=<%= item.manufacturer %>"><%= car.manufacturer %> - <%= car.model %> - <%= car.horsepower %>hp</a></li>
          <% }) %>
        </ul>
      </body>
</html>
